@define-color foreground #adc2b8;
@define-color background #021E25;
@define-color cursor #adc2b8;

@define-color color0 #021E25;
@define-color color1 #B26E4E;
@define-color color2 #2F8379;
@define-color color3 #608A7A;
@define-color color4 #AA9473;
@define-color color5 #FA8F44;
@define-color color6 #E5965F;
@define-color color7 #adc2b8;
@define-color color8 #798780;
@define-color color9 #B26E4E;
@define-color color10 #2F8379;
@define-color color11 #608A7A;
@define-color color12 #AA9473;
@define-color color13 #FA8F44;
@define-color color14 #E5965F;
@define-color color15 #adc2b8;
